{% extends "components/base-session.html" %}
{% load static %}

{% block image_src %}
    {% static 'img.webp' %}
{% endblock %}

{% block form %}
<form method="post" class="space-y-6">
    {% csrf_token %}
    <div>
        <label for="id_username" class="block text-sm font-medium text-gray-400">Email</label>
        <div class="mt-1">
            {{ form.username }}
            {% if form.username.errors %}
                <div class="text-red-500 text-sm">
                    {{ form.username.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        <label for="id_password" class="block text-sm font-medium text-gray-400">Contraseña</label>
        <div class="mt-1">
            {{ form.password }}
            {% if form.password.errors %}
                <div class="text-red-500 text-sm">
                    {{ form.password.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        {% if form.non_field_errors %}
            <div class="text-red-500 text-sm">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
    </div>
    <div>
        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-ferra-orange hover:bg-opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ferra-orange">
            Iniciar Sesión
        </button>
    </div>
    <div class="text-sm text-center">
        <a href="{% url 'security:signup' %}" class="font-medium text-ferra-orange hover:text-opacity-90">
            ¿No tienes una cuenta? Regístrate
        </a>
    </div>
</form>
{% endblock %}
