<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FerraVision{% endblock %}</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'ferra-blue': '#1C2A35',
                        'ferra-orange': '#FF8C00',
                    }
                }
            }
        }
    </script>
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-ferra-blue text-white">
    {% include 'components/navbar.html' %}
    
    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html' %}

    {% block extra_js %}{% endblock %}
</body>
</html>