<div class="absolute right-0 mt-2 w-48 dark:bg-secundario rounded-2xl bg-white z-50 hidden my-4 list-none divide-y divide-gray-200 shadow" id="user-dropdown">
    {% if user.is_authenticated %}
    <div class="px-4 py-3">
      <span class="block font-extrabold text-gray-500 truncate dark:text-gray-400">{{ user.username }}</span>
      <span class="block font-extrabold text-gray-500 truncate dark:text-gray-400">{{ user.correo }}</span>
    </div>
    <ul class="dark:bg-secundario py-2" aria-labelledby="user-menu-button">
      <li>
        <a href='' class="block px-4 py-2 font-bold text-gray-500 truncate dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-600 transition-all">Perfil</a>
      </li>

      <li>
        <a href={% url "security:logout" %} class="block px-4 py-2 font-bold text-gray-500 truncate dark:text-gray-400 hover:bg-red-600 hover:text-white dark:hover:bg-red-600 dark:hover:text-white transition-all">Cerrar Sesión</a>
      </li>
    </ul>
    {% else %}
    <ul class="py-2" aria-labelledby="user-menu-button">
      <li>
        <a href={% url "security:signup" %} class="block px-4 py-2 font-bold text-gray-500 truncate dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-500 transition-all">Registrarse</a>
      </li>
      <li>
        <a href={% url "security:login" %} class="block px-4 py-2 font-bold text-gray-500 truncate dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-500 transition-all">Iniciar Sesión</a>
      </li>
    </ul>
    {% endif %}
</div>
