{% load static %}
<nav class="bg-ferra-blue">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
              <a href="{% url 'core:home' %}" class="flex-shrink-0">
                  <img class="h-8 w-auto" src="{% static 'logo2.png' %}" alt="FerraVision">
              </a>
              <!-- Botón de hamburguesa para pantallas pequeñas -->
              <div class="block md:hidden">
                  <button id="menu-toggle" class="text-white hover:text-ferra-orange focus:outline-none focus:text-ferra-orange">
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                      </svg>
                  </button>
              </div>
          </div>

          <!-- Menú principal -->
          <div class="hidden md:flex md:items-center md:space-x-4">
              <a href="{% url 'core:home' %}" class="text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-sm font-medium">Inicio</a>
              <a href="{% url 'images:history_upload_image' %}" class="text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-sm font-medium">Historial</a>
              <a href="{% url "images:favorites_list" %}" class="text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-sm font-medium">Favoritos</a>
              <a href="#" class="text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-sm font-medium">Contacto</a>
          </div>

          <!-- Menú de usuario -->
          <div class="hidden md:flex md:items-center space-x-4">
              {% if user.is_authenticated %}
                  <a href="{% url 'security:logout' %}" class="text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-sm font-medium">Logout</a>
                  <a href="" class="flex items-center text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-sm font-medium">
                      <img class="h-8 w-8 rounded-full object-cover mr-2" src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% static 'images/default-avatar.png' %}{% endif %}" alt="{{ user.username }}">
                      <span>{{ user.username }}</span>
                  </a>
              {% else %}
                  <a href="{% url 'security:login' %}" class="text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-sm font-medium">Iniciar Sesión</a>
                  <a href="{% url 'security:signup' %}" class="bg-ferra-orange text-ferra-blue hover:bg-opacity-90 px-3 py-2 rounded-md text-sm font-medium">Registrarse</a>
              {% endif %}
          </div>
      </div>

      <!-- Menú desplegable para pantallas pequeñas -->
      <div id="mobile-menu" class="hidden md:hidden">
          <a href="{% url 'core:home' %}" class="block text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-base font-medium">Inicio</a>
          <a href="{% url 'images:history_upload_image' %}" class="block text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-base font-medium">Historial</a>
          <a href="#" class="block text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-base font-medium">Acerca de</a>
          <a href="#" class="block text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-base font-medium">Contacto</a>
          {% if user.is_authenticated %}
              <a href="{% url 'security:logout' %}" class="block text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-base font-medium">Logout</a>
              <a href="" class="flex items-center text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-base font-medium">
                  <img class="h-8 w-8 rounded-full object-cover mr-2" src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% static 'images/default-avatar.png' %}{% endif %}" alt="{{ user.username }}">
                  <span>{{ user.username }}</span>
              </a>
          {% else %}
              <a href="{% url 'security:login' %}" class="block text-white hover:bg-ferra-orange hover:text-ferra-blue px-3 py-2 rounded-md text-base font-medium">Iniciar Sesión</a>
              <a href="{% url 'security:signup' %}" class="block bg-ferra-orange text-ferra-blue hover:bg-opacity-90 px-3 py-2 rounded-md text-base font-medium">Registrarse</a>
          {% endif %}
      </div>
  </div>
</nav>

<script>
    // Script para alternar el menú móvil
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    menuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });
</script>
